/*
 * Project:     liteblog
 * Author:      xksyu2007
 * Name:        template.css
 * Abstract:
 *      Reusable classes.
 */

/* loading block */
.load{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: lightcyan;
    align-self: start;
    margin: 15px 0;
}